.tooltipWrapper {
  position: relative;
  display: flex;
  justify-content: center;

  .tooltip {
    margin: 0 0 4px;
    padding: 10px 17px 16px;
    border-radius: 8px;
    position: absolute;
    box-shadow: 0 6px 6px 0 rgba(22, 45, 61, 0.06), 0 0 18px 0 rgba(22, 45, 61, 0.12);
    width: 156px;
    bottom: 100%;

    &.light {
      background-color: var(--d-100);
    }

    &.dark {
      background-color: var(--d-10);
    }
  }

}
